.square{
    position: absolute;
    width: 669px;
    height: 504px;
    left: 94px;
    top: 285px;
}

.vector{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #6C63FF;
    opacity: 0.1;
}

.square1{
    position: absolute;
    left: 34.51%;
    right: 45.08%;
    top: 21.4%;
    bottom: 51.54%;
    background: rgba(255, 255, 255, 1)
}

.circle1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #6C63FF;
    opacity: 0.1;
}